<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d3fa7432-dba3-4597-8019-6a76d901bbe3/resourceGroups/TesthibridasGruop/providers/Microsoft.Web/sites/TesthibridaServiceWeb</ResourceId>
    <ResourceGroup>TesthibridasGruop</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://testhibridaserviceweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>27b82ddd-fedc-441f-9aab-3c7848125ab2</ProjectGuid>
    <PublishUrl>https://testhibridaserviceweb.scm.azurewebsites.net/</PublishUrl>
    <UserName>$TesthibridaServiceWeb</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net7.0</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>